---
title: Debian Xfce - Setup notes
layout: default
---
<section id="deb_table">
  <div class="container">
    <div class="content">
      <h2>Debian Xfce - Notes</h2>

      <div>
        Here's some help to troubleshoot a few issues that may occur after a fresh install of Debian Xfce:
        <ul>
          <li><a href="#video_fix">Videos shows horizontal tears, and the quality is not great</a></li>
          <li><a href="#touchpad_fix">Middle tap on touchpad is not working</a></li>
          <li><a href="#dark_theme">How to make Qt apps match dark themes on Xfce?</a></li>
          <li><a href="#caps_lock">Map Caps-lock key to Ctrl</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="deb_answers">
  <div class="container">
    <div class="content">
      <h3 id='video_fix'>Videos show horizontal tears and their quality is not great</h3>
      <p>
        Create <code>/etc/X11/xorg.conf.d/20-intel.conf</code> (if your have an Intel graphic card) and add the following content in it:
        <pre>
Section "Device"
  Identifier  "Intel Graphics"
  Driver      "Intel"
  Option      "TearFree"    "true"
EndSection</pre>

        You may need to turn off compositing ('Window manager tweaks' > 'Compositor').
      </p>

      <h3 id='touchpad_fix'>Middle tap on touchpad is not working</h3>

      <p>
        Create <code>/etc/X11/xorg.conf.d/40-libinput.conf</code> and add the following content in it:
        <pre>
Section "InputClass"
        Identifier "libinput touchpad catchall"
        MatchIsTouchpad "on"
        MatchDevicePath "/dev/input/event*"
        Driver "libinput"
        Option "Tapping" "on"
EndSection</pre>
      </p>

      <h3 id="dark_theme">How to make Qt apps match dark themes on Xfce?</h3>
      <p>
        Open <code>~/.config/Trolltech.conf</code> and add the following lines
        <pre>
[Qt]
style=GTK+</pre>
        Save and exit the file. Then run the following:
        <pre>sudo apt-get install qt5-style-plugins</pre>
        Finally, open <code>/etc/environment</code> and add this line:
        <pre>QT_QPA_PLATFORMTHEME=gtk2</pre>
      </p>
      <p> (Source: <a href="https://www.youtube.com/watch?v=rP4DWu24ff0" target="_blank">https://www.youtube.com/watch?v=rP4DWu24ff0)</a></p>

      <h3 id="caps_lock">Map Caps-lock key to Ctrl</h3>
      <ul>
        <li>Open <code>Session and Startup</code> (via the Whisker menu, for example), click on the <code>Application Autostart</code> tab.</li>
        <li>Click on <code>Add</code>.</li>
        <li>In the small window, enter a name and add this command: <code>/usr/bin/setxkbmap -option 'ctrl:nocaps'</code>. OK and leave.</li>
        <li>Restart your computer.</li>
      </ul>
    </div>
  </div>
</section>

