---
title: DevFest Kisumu 2019
layout: default
---

<section class="page">
  <div class="container">
    <h2>DevFest Western Kenya 2019 - Links and resources</h2>

    <p class='description'>
    Presentation slides: <a href="https://docs.google.com/presentation/d/1AHJfMAQstiEYjtlcw3bPDzjcrPug98Lntn4WQkRY3iA/edit?usp=sharing" target="_blank">Google Slides</a> | <a href="https://etiennebaque.com/assets/devfest2019_slides.pdf" target="_blank">PDF file</a>
    </p>

    <h3>GitLab</h3>
    <ul>
      <li>GitLab website: <a href="https://about.gitlab.com/" target="_blank">https://about.gitlab.com</a></li>
      <li>The handbook: <a href="https://about.gitlab.com/handbook/" target="_blank">https://about.gitlab.com/handbook</a></li>
      <li>The internship program: <a href="https://about.gitlab.com/handbook/engineering/internships/" target="_blank">https://about.gitlab.com/handbook/engineering/internships</a></li>
    </ul>

    <h3>A bit of code</h3>
    <ul>
      <li>My dotfiles: <a href="https://codeberg.org/etienne/dotfiles" target="_blank">https://codeberg.org/etienne/dotfiles</a></li>
    </ul>

    <p class='note'>
      Let's keep in touch, <a class='contact-popup'>contact me !</a>
    </p>
  </div>
</section>
