---
title: Etienne Baqué
layout: default
---

<div class="container" id="banner">

  <div id="myname">
    <h1 class="title">
      Etienne Baqué
    </h1>
  </div>
</div>

<section class="introduction">
  <div class="container">
    <div class="mini-bio">
      <p>
      Hello! My name's Etienne. Originally from France, I'm currently living in Nova Scotia, Canada.
      </p>

      <p>
      On this site, you can read about my journey in <a href="/music">learning music orchestration</a>.
      </p>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    {% include contact.html %}
  </div> 
</section>
