---
title: Music orchestration and compositions
layout: page
---

<h2>Music orchestration and compositions
<span class="rss-link">
  <a href="{{ site.url }}/feed/music.xml">RSS</a>
</span>
</h2>

<p class='description'>
Around mid-2020, I started to learn music orchestration. This series of articles is an account of my progress in this field.
</p>

<ul class="item-list">
  <li><a href="{{ site.url }}/music/2023/02/06/bbcso-with-ardour">BBC Symphonic Orchestra with Ardour</a><span>(February 6th, 2023)</span></li>
  <li><a href="{{ site.url }}/music/2022/07/14/strings-woodwinds-project-complete">Strings and Woodwinds project complete! Music and analysis</a><span>(July 14th, 2022)</span></li>
  <li><a href="{{ site.url }}/music/2022/03/14/searching-balance-strings-woodwinds">Searching for balance with Strings and Woodwinds</a><span>(March 14th, 2022)</span></li>
  <li><a href="{{ site.url }}/music/2021/10/25/woodwinds">Woodwind instruments and orchestration</a><span>(October 25th, 2021)</span></li>
  <li><a href="{{ site.url }}/music/2021/09/15/diving-into-ardour">Diving into Ardour</a><span>(September 15th, 2021)</span></li>
  <li><a href="{{ site.url }}/music/2021/06/24/project-complete-analysis">Project complete! Music and self-analysis</a><span>(June 24th, 2021)</span></li>
  <li><a href="{{ site.url }}/music/2021/05/20/emotions-linked-to-keys">Emotions linked to musical keys</a><span>(May 20th, 2021)</span></li>
  <li><a href="{{ site.url }}/music/2021/04/21/know-your-editor">Know your (music notation) editor</a><span>(April 21st, 2021)</span></li>
  <li><a href="{{ site.url }}/music/2021/03/15/linux-music-orchestration">Linux software for music orchestration</a><span>(March 15th, 2021)</span></li>
  <li><a href="{{ site.url }}/music/2021/03/04/strings-tuning-ranges">Stringed instruments: tuning and ranges</a><span>(March 4th, 2021)</span></li>
  <li><a href="{{ site.url }}/music/2021/02/21/about-orchestration">Learning about music orchestration</a><span>(February 2nd, 2021)</span></li>
</ul>

{% include back-to-home.html %}
