<meta charset="utf-8">
<meta name="name" content="Etienne Baqué's website">
<meta name="keywords" content="Etienne Baqué,Web development,Software,Developer,CV,French,Canada">
<meta name="author" content="Etienne Baqué">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">

<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/general.css" type="text/css">
<script src="/js/script.js"></script>
