<h2>Contact</h2>

✉️ <span id="emailAddress">mail@etiennebaque.com</span>

<p id="contactLinks">
<a href="https://codeberg.org/etienne">Git repositories</a> <span class="separator-dash">-</span> <a href="https://www.linkedin.com/in/etienne-baqué-07141b16">LinkedIn</a>
</p>

<p>GPG: <a href="/assets/gpg/etienne.asc">0x331A8AF093EDB799</a></p>
