<div class="modal" id="contactModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        {% include contact.html %}
                    </div>
                </div>
                <button class="delete"></button>
            </article>
        </div>
    </div>
</div>
