<footer class="footer">
  <div class="container">
    <p>
    Built with <a href="https://jekyllrb.com" target="_blank">Jekyll</a>.
    Code available <a href="https://codeberg.org/etienne/personal" target="_blank">here</a> (MIT license).
    </p>
  </div>
</footer>
