<nav class="navbar navbar-default navbar-fixed-top" id="mynav">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}/">
        Etienne&nbsp;
        <span class="prompt"> > _</span>
      </a>
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ site.url }}/contact" class="navbar-item contact-link">
            Contact
          </a>
        </li>

        <li class="light-dark-switch">
          <a href="#/" class="navbar-item contact-link" id="lightDarkLink" >
            <img id="lightDarkImage" class='light' src="{{ site.url }}/assets/svg/lightdark.svg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
