<!DOCTYPE html>
<html lang="en">
    <head>
        {% include base_head.html %}

        <title>Etienne Baqué</title>
    </head>

    <body>
        <main class="site-content">
            {% include navigation.html %}

            {{ content }}
        </main>
    </body>
</html>
