<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">
    <head>
        {% include base_head.html %}

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet-gpx@1.4.0/gpx.min.js"></script>
        <link rel="stylesheet" href="/css/map.css" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/general.js"></script>
        <script src="/js/map.js"></script>

        <title>Etienne Baqué</title>
    </head>

    <body class="site-body">
        <main class="site-content">
            {% include navigation.html %}

            {{ content }}

            {% include contactmodal.html %}
        </main>

        {% include footer.html %}
    </body>
</html>

