<!DOCTYPE html>
<html lang="en">
    <head>
        {% include base_head.html %}

        <title>Etienne Baqué</title>
    </head>

    <body>
        <main class="site-content">
            {% include navigation.html %}

            <section class="page">
              <div class="container">
                <div class="row">
                  <div class="col-sm-1 col-md-2"></div>
                  <div class="col-xs-12 col-sm-10 col-md-8">
                    {{ content }}
                  </div>
                  <div class="col-sm-1 col-md-2"></div>
                </div>
              </div>
            </section>
        </main>
    </body>
</html>
